*{
	margin: 0;
	padding: 0;
}
body{
	body{
		display: flex;
		flex-wrap: wrap;
		background: lightblue;
}
header{
	width: 100%;
	background-color: red; /* modification du fichier css par jules, changement de couleur simple */
	justify-content: center;
	align-items: center;
}
main{
	background: blue;
	width: 70%;
}
footer{
	background: lightyellow;
	width: 30%;
}
}
