*{
	margin: 0;
	padding: 0;
}

body{
		display: flex;
		flex-wrap: wrap;
		background: lightblue;
        justify-content: center;
}
header{
	width: 100%;
	background-color: red; /* modification du fichier css par jules, changement de couleur simple */
    display: flex;
	justify-content: space-evenly;
	align-items: center;
    height: 10vh;

}
header h1 a, header nav a{
    text-decoration: none;
    color: black;
}
header  img{
    height: 40%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	background: blue;
	width: 100%;
    height: 80vh;
}
main h1 {
    width: 100%;
    text-align: center;
}
footer{
    display: flex;
	background: lightyellow;
	width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;

}


@media (max-width: 480px) {
    header h1 {
      font-size: 1.5em;
    }
    header {
        background-color : orange;
    }
    nav a {
      font-size: 0.9em;
      margin: 5px 0;
      text-align: center;
    }
    main img{
        width: 50%;
    }
    footer {
      padding: 15px;
    }
    
    main h1 {
      font-size: 1.8em;
      width: 70%;
    }
  
    main img {
      max-width: 95%;
    }
  }